html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Added above as original webpage was larger than content displayed*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    font-family: 'Merriweather', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 2000px;
    background-image: url(https://images.pexels.com/photos/7014946/pexels-photo-7014946.jpeg?cs=srgb&dl=pexels-george-milton-7014946.jpg&fm=jpg);
    BACKGROUND-IMAGE: center;
    background-repeat: NO-REPEAT;
    max-height: 500px;
    background-size: cover;
    image-orientation: 100px;
    background-position: center center;
}

#lastnm:hover {
 color: #3a3c35;
}

nav li a:hover {
    text-decoration: underline;
    color: #3a3c35;
}


/*moving the nav list to left align in a column for mobile users  */

@media only screen and (min-width: 360px) and (max-width: 780px) {
     ul, li {
      flex-direction: column;
      margin-top: 30px;
      margin-right: 80px;
  }
}


@media only screen and (min-width: 100px) and (max-width: 850px) {
    .row, .row2, #funnight {
     flex-direction: column;
     flex-wrap: wrap;
     margin-top: 2px;
     /* margin-top: 30px;
     margin-right: 80px; */
 }
}


header h1 {
  font-size: 48px;
  padding: 5px;
  margin-left: 10px;
}

nav ul {
    list-style-type: none;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

nav {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
}

ul {
    max-height: 10px;
    display: flex;
  }

#project {
font-weight: bolder;
text-decoration: underline;
}

li {
    text-decoration: none;
    color: WHITE;
    font-family: 'Merriweather',serif;
    padding-left: 25px;
    padding-right: 20px;
    display: list-item;
}

button {
    align-items: center;
    background-color: #566574;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-top: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#about-me {
    display: flex;
    font-family: 'Merriweather',serif;
    font-size: medium;
    flex-wrap: wrap;
    top: 100px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footerimage {
    max-width: 71px;
    max-height: 72px;
    background-color: transparent;
}
#footerimage1 {
    max-width: 40px;
    max-height: 72px;
}

#email {
    margin-left: auto;
    margin-right: auto;
}

#socials {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    margin-top: 30px;
}

#about-me-description {
    margin: 20px;
    font-family: 'Merriweather',serif;
    text-align: left;
    font-size: medium;
    max-width: 650px;
    font-size: 18px;
    padding: 4px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#headshot {
    max-width: 250px;
    max-height: 166px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    font-family: 'Merriweather',serif;
    flex-wrap: wrap;
    font-size: medium;
}


#image1 {
    position: relative;
    width: fit-content;
    padding-right: 10px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    padding: 4px;
}

#image3 {
    position: relative;
    width: 1000px;
    padding-right: 10px;
    margin-right: 0;
    margin-left: auto;
    display: block;
}

#image2 {
    position: relative;
    width: fit-content;
    padding-right: 10px;
    margin-left: 0;
    margin-right: auto;
    display: block;
}


#Horiseon {
position: relative;
left: 0px;
}

.row2 {
    display: inline-flex;
    font-family: 'Merriweather',serif;
    font-size: medium;
}

#funnighttext {
    color:rgb(50, 50, 107);
    margin-top: auto;
    font-size: medium;

}

#funnight {
    align-content: center;
    text-align: webkit-left;
    padding: 10px;
    margin-top: 40px;
}


section h2:hover{
    text-decoration: underline;
}

img {
    padding: 4px;
}

.title:hover{
    text-decoration: underline;
}

.row {
    display: flex;
    font-family: 'Merriweather',serif;
    margin: 20px;
    border-width: medium;
    font-size: medium;
    border: solid, 5px;
    border-radius: 1rem;
    border-color: rgb(50, 50, 107);
}

.Books {
    display: inline-flex;
    font-family: 'Merriweather',serif;
}
#book1, #book2, #book3 {
    max-height: 200px;
    margin: 10px;
} 

/* hover grow effect for book images */

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.03);
border-radius: 2rem;
}

button:hover {
    transform: scale(1.03);
}

#resumebutton {
    margin-left: 28px;
}

.Books {
margin-top: 20px;

}
.BookHeading {
  color: rgb(50, 50, 107);
  margin-top: 100px;
  padding: 37px 20px;
  font-size: 27px;
  font-family: 'Merriweather',serif;
  font-weight: bold;
}

 footer {
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  
h3 {
    color: rgb(50, 50, 107);
    text-align: center;
    font-family: 'Merriweather',serif;
    margin-top: 14px;
    font-size: medium;
}

#footerimage3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 118px;
    max-height: 88px;
}

.footer-p {
max-height: 50px;
}
