html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Added above as original webpage was larger than content displayed*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 2000px;
    background-image: url(https://images.pexels.com/photos/7014946/pexels-photo-7014946.jpeg?cs=srgb&dl=pexels-george-milton-7014946.jpg&fm=jpg);
    BACKGROUND-IMAGE: center;
    background-repeat: NO-REPEAT;
    max-height: 500px;
    background-size: cover;
    image-orientation: 100px;
    background-position: center center;
}

#lastnm:hover {
 color: #3a3c35;
}

nav li a:hover {
    text-decoration: underline;
}


/*moving the nav list to left align in a column for mobile users  */

@media only screen and (min-width: 320px) and (max-width: 768px) {
     ul, li {
      flex-direction: column;
      margin-top: 30px;
      margin-right: 80px;
  }
}

header h1 {
  font-size: 48px;
  margin-left: 10px;
}

nav ul {
    list-style-type: none;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

nav {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
}

ul {
    max-height: 10px;
    display: flex;
  }
#project {
font-weight: bolder;
text-decoration: underline;
}

li {
    text-decoration: none;
    color: WHITE;
    padding: 10px;
    display: list-item;
}

a {
    text-decoration: underline;
    font-weight: bold;
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    margin: 30px, 10px;
    top: 100px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerimage {
    max-width: 50px;
    max-height: 50px;
}

#socials {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    margin-top: 30px;
}

#about-me-description {
    margin: 20px;
    text-align: left;
    max-width: 650px;
    font-size: 18px;
    padding: 4px;
    text-align: center;
    justify-content: center;
}

#headshot {
    max-width: 250px;
    max-height: 166px;
    margin-top: 14px;
}

section {
    display: flex;
    flex-wrap: wrap;
}


#image1 {
    position: relative;
    width: fit-content;
    padding-right: 10px;
    margin-right: 0;
    margin-left: auto;
    display: block;
}

#image3 {
    position: relative;
    width: fit-content;
    padding-right: 10px;
    margin-right: 0;
    margin-left: auto;
    display: block;
}

#image2 {
    position: relative;
    width: fit-content;
    padding-right: 10px;
    margin-left: 0;
    margin-right: auto;
    display: block;
}


#Horiseon {
position: relative;
left: 0px;
}

.row2 {
    display: inline-flex;
    flex-wrap: wrap;
}

#funnighttext {
    color:rgb(50, 50, 107);
    margin-top: auto;

}

#funnight {
    align-content: center;
    text-align: webkit-left;
    margin: auto;
    padding: 10px;
}


section h2:hover{
    text-decoration: underline;
}

.title:hover{
    text-decoration: underline;
}

.row {
    display: flex;
    margin: 20px;
    border-width: medium;
    border: solid, 5px;
    border-radius: 1rem;
    border-color: rgb(50, 50, 107);
    background-color: rgba(80, 74, 74, 0.123);
}

.Books {
    display: inline-flex;
}
#book1, #book2, #book3 {
    max-height: 200px;
    margin: 10px;
} 

/* hover grow effect for book images */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.Books {
margin-top: 20px;

}
.BookHeading {
  color: #704c37;
  margin-top: 100px;
  padding: 37px 20px;
  font-size: 27px;
  font-weight: bold;
}

 #Contact-Header {
  color: #704c37;
  margin-top: 100px;
  padding: 37px 20px;
  font-size: 27px;
  font-weight: bold;
 }

 footer {
    display: flex;
    margin: auto;
    flex-direction: column;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  input[type=submit] {
    background-color: #3A3C35;
    color: white;
    padding: 12px 20px;
  }
  
  input[type=submit]:hover {
    background-color: #3A3C35;
  }
  
  .Contact-Form {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    display: flex;
  }

.footer-p {
max-height: 50px;
}
