body {
    background-color: #bab8b15e;
}

header {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 2000px;
    background-image: url(https://images.pexels.com/photos/7014946/pexels-photo-7014946.jpeg?cs=srgb&dl=pexels-george-milton-7014946.jpg&fm=jpg);
    BACKGROUND-IMAGE: center;
    background-repeat: NO-REPEAT;
    max-height: 500px;
    background-size: cover;
    image-orientation: 100px;
    background-position: center center;
}

header h1 {
  font-size: 48px;
}

nav ul {
    list-style-type: none;
    display: flex-end;
    /* margin-left: 25px; */
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav {
    /* display: flex; */
    flex-flow: row wrap;
    /* justify-content: flex-end; */
}

ul {
    text-align: right;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    max-height: 10px;
  }


a {
    text-decoration: none;
    color: WHITE;
    /* background-color: darkcyan; */
    padding: 10px;
    /* display: block; */
}

li {
    justify-content: space-between;
}

nav, ul, li {
    display: inline-flex;
    margin-left: 25px;
}

.page-title {
    display: inline-flex;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    margin: 30px, 10px;
    top: 100px;
    /* background-color: #d0f4ff; */
    max-width: 1100px;
}

#about-me-header {    
    color: #704c37;
    margin-top: 100px;
    padding: 37px 20px;
    font-size: 52px;
    font-weight: bold;
}


p {
    margin: 20px;
    max-width: 525px;
    color: #3a3c35;
    text-align: left;
    font-size: 18px;

}

#headshot {
    margin-left: 10px;
    max-width: 250px;
    max-height: 166px;
    margin-top: 42px;
}

section {
    display: flex;
    flex-wrap: wrap;
}



#image1 {
    max-height: 400px;
    max-width: 800px;
    display: flex;
    margin: 20px;
    z-index: 1;
    flex-grow: 1;
    width: fit-content;
}

#image2 {
    max-height: 400px;
    max-width: 400px;
    display: flex;
    margin: 20px;
    z-index: 1;
}

#image3 {
    max-height: 400px;
    max-width: 400px;
    display: flex;
    margin: 20px;
    z-index: 1;
}

.work-title1 {
    left: 10px;
    position: absolute;
    color: #704C37;
    text-decoration: underline;
    margin-top: 10px;
    padding: 0 5px;
    box-shadow: black;
    font-size: larger;
    font-style: bold;
    font-weight: bold;
}

.work-title2 {
    left: 300px;
    position: absolute;
    color: #704C37;
    text-decoration: underline;
    margin-top: 10px;
    padding: 0 5px;
    box-shadow: black;
    font-size: larger;
    font-style: bold;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  footer {
      max-width: 300px;
  }
  
  input[type=submit] {
    background-color: #3A3C35;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #3A3C35;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .Books {
      display: inline-flex;
  }
  #book1, #book2, #book3 {
      max-height: 200px;
      margin: 10px;
  } 
  .BookHeading {
    color: #704c37;
    margin-top: 100px;
    padding: 37px 20px;
    font-size: 27px;
    font-weight: bold;
  }
   #ContactMe {
    color: #704c37;
    margin-top: 100px;
    padding: 37px 20px;
    font-size: 27px;
    font-weight: bold;
   }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}